@charset "UTF-8";
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/AwBqWF2kjhlybWamaKMPcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

/* Style général */

body {
	background: #f4f4f4;
	color: #494949;
	font-weight: 300;
	padding-top: 50px;
	padding-bottom: 30px;
	word-wrap: break-word;
}
.navbar-fixed-top {
	font-family: 'Oxygen', sans-serif;
}
.left {
	float: left
}
.text-left {
	text-align:left
}
.right {
	float: right
}
.text-right {
	text-align:right
}
.center {
	text-align:center;
}
.clear {
	clear:both
}
.justify {
	text-align: justify;
}

.col {
	text-align: right;
}

#logo {
	width: 59px;	
}

.navbar-fixed-bottom {
	border-top: 1px solid #E7E7E7;
}

.navbar-fixed-bottom .faitPar {
	color: #FFFFFF;
    display: block;
    float: right;
    height: 25px;
    padding: 2px 14px;
}
.navbar-fixed-top .badge {
	background-color: #F63;
	margin-right: 5px;
}
#finDePage, #blocContent {
    background: none repeat scroll 0 0 #E9E9E9;
	box-shadow: 0 5px 15px #999999;
	border: 2px solid #EEEEEE;
}
/* ./style général */

/* style du HEADER */
.navbar-form .form-control {
	font-size: 13px;
	width: 130px;
	padding-left: 2px;
	padding-right: 2px;
}
.navbar-form {
	padding-left:5px;
	padding-right:5px;
}
@media (min-width: 800px) {
	.navbar-form .form-control {
		font-size: 14px;
		width: 160px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (min-width: 1000px) {
	.navbar-form .form-control {
		font-size: 14px;
		width: 300px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
/* fin dtyle du HEADER */

/* vue home */
.annonce {
	border-radius: 10px 10px 10px 10px;
    margin: 0 20px 25px 20px;
    padding: 10px 0;
}
.annonce h1 {
	color: #F2853C;
}
#aboutUs {
    background: none repeat scroll 0 0 #EFEFEF;
	box-shadow: 0 5px 15px #999999;
	border: 2px solid #EEEEEE;
}
#aboutUs span {
	font-size: 22px;
    font-weight: 500;
}
a.lienGroupe,
a.lienGroupe:active,
a.lienGroupe:focus,
a.lienGroupe:hover {
	font-style: italic;
	color: #494949;
}
@media screen and (max-width: 770px) {
	.row h1 {
		margin: 0;
	}
}
/* ./vue home */

/* signin & register */

form#register em {
	color: red;
}

.form-signin,
.form-register {
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox,
.form-register .form-signin-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control,
.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus,
.form-register .form-control:focus {
  z-index: 2;
}
.panneau-connexion #login input {
	margin: -1px auto;
	max-width: 300px;
}
.panneau-connexion #create .col-md-5 {
	margin-bottom: 10px
}
@media (min-width: 980px) {
.panneau-connexion #create .col-md-5.groupe {
	margin-bottom: -1px
}
}
.panneau-connexion #login input.btn {
	margin: 15px auto;
}
.panneau-connexion #login .form-signin input[type="email"],
.panneau-connexion #create #passwordInscription1,
.panneau-connexion #create #nomInscription {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.panneau-connexion #login .form-signin input[type="password"],
.panneau-connexion #create #passwordInscription2, 
.panneau-connexion #create #prenomInscription {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin span.label {
    display: block;
    margin: 0 10px;
    padding: 5px;
    text-align: left;
    width: auto;
}
.panneau-connexion {
	max-width:800px; 
	margin:0 auto;
}
.panneau-connexion a {
	color: #4AAD8F
}
.panneau-connexion .well {
	background-color: #FFFFFF;
	margin: 20px 0 0;
}

.panneau-connexion .well .nav {
	margin:auto;
	max-width:730px;
}

@media (max-width: 1200px) {
/* responsive lié au formulaire d'inscription */
	.panneau-connexion .col-lg-3,
	.panneau-connexion .col-lg-6 {
	  padding-left: 0;
	  padding-right: 0;
	}
}
/* ./signin & register */

/* profil */
/*
*	toutes les informations présentées sur la page PROFIL
*
*/
.bloc_profil_infoPerso {
	width:100%;
	margin-bottom:20px;
}
.bloc_profil_infoPerso .libelle {
	width: 20%; 
	float: left; 
	display: block;
}
.bloc_profil_infoPerso .valeur {
	width: 80%;
}
/* ./profil */

/* document */
/*
*	toutes les informations présentées sur les pages documents
* 
*/
#annoterDocument {
	max-width: 100%;
	position:relative;
}

#autresDocuments {
	/*width:450px;*/
	padding: 0px;
	/*background-color: #FAFAFA;*/
	/*box-shadow: 0px 0px 12px #555;*/
}

#infoAutresDocuments {
	/*width:450px;*/
	padding: 0px;
	background-color: white; /*ou #FAFAFA ou autre =)*/
	text-align: left;
	/*box-shadow: 0px 0px 12px #555;*/
}

#containerMiniature {
	/*padding: 0px;*/
	position:inherit;
}

.miniaturePDF{
	border: 1px solid #D8D8D8;
	margin: 10px;
	/*box-shadow: 1px 1px 0px #aaa;*/
	box-shadow: 1px 1px 12px #555;
}

#infoGroupe {
	text-align: left;
	margin-top: 100px;
	background-color: white; /*ou #FAFAFA ou autre =)*/
}

table.listeDocument {
	cursor: pointer;
}

/* groupe */
form#creationGroupe.form-horizontal div.form-group div.input-group input.form-control {
	width: 100%;
	cursor:default;
}
#creationGroupe #listeDocument {
	height: 200px;
	overflow: scroll;
}
#listeDocs { 
	width: 100%; 
}
#listeDocs h3 {
	text-align: right;
}
#listeDocs li {
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    float: right;
    height: 60px;
    line-height: 23px;
    list-style: none outside none;
    margin-right: 20px;
    padding: 6px;
    text-align: center;
    width: 145px;
}
#listeGroupe .form-control {
	height: inherit;
}
#creationGroupe #listeGroupe ol { margin: 0; padding: 1em 0 1em 3em; }
 #gallery { float: left; width: 100%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { font-size:11px; margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
#trash { width: 100%; min-height: 8em; padding: 1%; overflow:scroll }
#trash h5 { line-height: 16px; margin: 0 0 0.4em; color: #ACACAC; }
#trash h5 .ui-icon { float: left; }
#trash .gallery h5 { display: none; }

#gallery li.ui-draggable {
    height: auto;
    width: 25%;
}

#listeMembre {
	direction: rtl;
}

ul#listeMembre {
	width: 190px; 
	height: 200px;
	overflow: scroll;
	border: 1px solid rgb(102, 102, 102); 
	list-style: none outside none; 
	padding: 0px 0px 0px 3px;
	text-align:left;
}

ul#listeMembre li input{
	/*margin-left: 0px;*/
	position: relative;
	float:left;
	left:-4px;
}

#delMember, #addMember {
	width: 100%;
}
/*myModalLabel*/
#popupTitre1 {
	display: inline;
}

#popupTitre2 {
	display: inline;
	color: #F2853C;
}
.ui-autocomplete-input {
  z-index: 1511;
}

.ui-autocomplete {
  z-index: 1510 !important;
}

.modal-header{
	text-align: left;
}

.modal-header  .close{
	border: 2px solid black;
}

#myModal1 .modal-body{
	height: 100px;
}

#formSearchMember {
	position:fixed;
	margin-left:100px;
	margin-right:100px;
	margin-top:-10px;
}

#formSearchMemberOnAcces {
	position:fixed;
	margin-top:-10px;
}

#table_filter {
	float:right;
}
#liste-document .list-group-item {
	cursor:pointer;
}
.groupelien {
	font-size:16px;
	margin-top:40px;
	font-weight:600;
}
.groupelien a {
	color:#333;
	text-decoration:none;
}
.groupelien a:hover,
.groupelien a:focus,
.groupelien a:active {
	color:#999;
	text-decoration:none;
}
/* ./groupe */

/* upload */
.dropzone {
    margin-left: 0 !important;
    margin-top: 10px;
}

form#uploadDocument {
  margin-bottom : 20px;
}
/*#files_uploaded .texte {
  text-align: left;
}
#files_uploaded .dropdown-toggle {
  height: 54px !important;
}*/
div#accordion.panel-group a.list-group-item {
	font-weight:400;
}
/* ./upload */

/* acces */
.blocGroupes {
	background: #FFF;
	display:inline-block; 
	margin-bottom: 30px;
	width:90%;
}
.blocGroupes div h6 {
	padding-left: 5px;
}
.blocGroupes div {
	background: #F2F2F2;
	overflow: scroll; 
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100px;
	position: relative; 
	display: block; 
	float: left;
}
.blocGroupes div:nth-child(odd) {
	background: #E5E5E5;
}
.blocEnAttente, .blocAccepte, .blocRefuse {
	display:inline-block;
	height:250px;
	overflow: scroll;
	margin-left: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-right: 1px solid #EFEFEF;
	font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
}
.col-md-3-perso {
	width: 32.5%;
}
.col-md-2-perso {
	width: 49%;
}
.col-md-1-perso {
	width: 99%;
}
.blocAccesUser {
	background: #FFF;
	display:inline-block; 
	margin-bottom: 30px;
	width:90%;
}
.blocEnAttente .lead {
	background:#C7E8EA;
}
.blocAccepte .lead{
	background:#C9EAE0;
}
.blocRefuse .lead {
	background:#F3D2D1;
}
.blocAccesUser .lead {
	font-weight: bold;
	padding: 5px;
}
@media (max-width: 700px) {
	.col-md-1-perso, .col-md-2-perso, .col-md-3-perso {
		width: 99%;
	}
}
/* ./acces */


/*  Vue afficher document : Iframe */
/*
iframe{
	width: 900px;
	height: 900px;

}*/

