@charset "UTF-8";

/* Style général */

body {
	background: #f4f4f4;
	color: #494949;
	font-weight: 300;
	padding-top: 50px;
	padding-bottom: 30px;
	word-wrap: break-word;
}
.navbar-fixed-top {
	font-family: 'Oxygen', sans-serif;
}
.left {
	float: left
}
.text-left {
	text-align:left
}
.right {
	float: right
}
.text-right {
	text-align:right
}
.center {
	text-align:center;
}
.clear {
	clear:both
}
.justify {
	text-align: justify;
}

.col {
	text-align: right;
}

#logo {
	width: 59px;	
}

.navbar-fixed-bottom {
	border-top: 1px solid #E7E7E7;
}

.navbar-fixed-bottom .faitPar {
	color: #FFFFFF;
    display: block;
    float: right;
    height: 25px;
    padding: 2px 14px;
}
.navbar-fixed-top .badge {
	background-color: #F63;
	margin-right: 5px;
}

/* ./style général */

/* vue home */
.annonce {
	border-radius: 10px 10px 10px 10px;
    margin: 0 20px 25px 20px;
    padding: 10px 0;
}
.annonce h1 {
	color: #F2853C;
}
#aboutUs {
    background: none repeat scroll 0 0 #EFEFEF;
	box-shadow: 0 5px 15px #999999;
	border: 2px solid #EEEEEE;
}
#aboutUs span {
	font-size: 22px;
    font-weight: 500;
}
#finDePage {
    background: none repeat scroll 0 0 #E9E9E9;
	box-shadow: 0 5px 15px #999999;
	border: 2px solid #EEEEEE;
}
a.lienGroupe,
a.lienGroupe:active,
a.lienGroupe:focus,
a.lienGroupe:hover {
	font-style: italic;
	color: #494949;
}
@media screen and (max-width: 770px) {
	.row h1 {
		margin: 0;
	}
}
/* ./vue home */

/* signin & register */
.form-signin,
.form-register {
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox,
.form-register .form-signin-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control,
.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus,
.form-register .form-control:focus {
  z-index: 2;
}
.panneau-connexion #login input {
	margin: -1px auto;
	max-width: 300px;
}
.panneau-connexion #create .col-md-5 {
	margin-bottom: 10px
}
@media (min-width: 980px) {
.panneau-connexion #create .col-md-5.groupe {
	margin-bottom: -1px
}
}
.panneau-connexion #login input.btn {
	margin: 15px auto;
}
.panneau-connexion #login .form-signin input[type="email"],
.panneau-connexion #create #passwordInscription1,
.panneau-connexion #create #nomInscription {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.panneau-connexion #login .form-signin input[type="password"],
.panneau-connexion #create #passwordInscription2, 
.panneau-connexion #create #prenomInscription {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin span.label {
    display: block;
    margin: 0 10px;
    padding: 5px;
    text-align: left;
    width: auto;
}
.panneau-connexion {
	max-width:800px; 
	margin:0 auto;
}
.panneau-connexion a {
	color: #4AAD8F
}
.panneau-connexion .well {
	background-color: #FFFFFF;
	margin: 20px 0 0;
}

.panneau-connexion .well .nav {
	margin:auto;
	max-width:730px;
}

@media (max-width: 1200px) {
/* responsive lié au formulaire d'inscription */
	.panneau-connexion .col-lg-3,
	.panneau-connexion .col-lg-6 {
	  padding-left: 0;
	  padding-right: 0;
	}
}
/* ./signin & register */

/* profil */
/*
*	toutes les informations présentées sur la page PROFIL
*
*/
.bloc_profil_infoPerso {
	width:100%;
	margin-bottom:20px;
}
.bloc_profil_infoPerso .libelle {
	width: 20%; 
	float: left; 
	display: block;
}
.bloc_profil_infoPerso .valeur {
	width: 80%;
}
/* ./profil */